
<div class="youtube-thumbnail-container"
*ngIf="!showImageCropper"
[ngClass]="{
  'youtube-thumbnail-container-dark-theme':isDarkTheme,
  'youtube-thumbnail-container-light-theme':!isDarkTheme
}">
  <div class="top-image thumbnail-images top-img-div" (dblclick)="topImage.click()">
    <img  class="top-image thumbnail-images" [src]="selectedTopImage || 'https://i.ibb.co/hypB4dk/11.jpg'" alt="top image">
    <div class="duration" (click)="durationInput.focus()">{{duration()}}</div>
  </div>
  <div class="youtube-thumbnail-details">
    <div (dblclick)="channelLogo.click()" class="channel-logo">
      <img [src]="selectedChannelLogo || 'https://i.ibb.co/NsRgnkW/f77ba37fa6aba7349083cab44ce9dcaf.jpg'" alt="ChannelLogo">
    </div>
    <div class="video-details">
      <div class="video-title" (click)="videoTitleInput.focus()">{{ videoTitle.trim() }}</div>
      <div class="video-info">
        <div class="channel-name-views-period">
          <span (click)="channelNameInput.focus()">{{ shortenChannelName(channelName) }}</span>
          <span class="views" (click)="vieswInput.focus()">{{ readableViews(views) }}</span>
          <span class="time-since" (click)="timeInput.focus()">
            {{ (time && time.toString() || 0) + " " + (time === 1 ? period.slice(0, -1) : period) + " ago" }}
          </span>
        </div>
      </div>
    </div>
    <div>
      <span class="menu-icon">&#8942;</span>
    </div>
  </div>
  <div class="bottom-image thumbnail-images" (dblclick)="bottomtopImage.click()">
    <img  class="bottom-image thumbnail-images" [src]="selectedBottomImage || 'https://i.ibb.co/DQzc0Mr/22.jpg'" alt="top image">
  </div>
</div>


<div *ngIf="(!selectedBottomImage || !selectedTopImage || !selectedChannelLogo) && (!showImageCropper)" class="note" [ngClass]="{
  'note-dark-theme':isDarkTheme,
  'note-light-theme':!isDarkTheme
}">
  <p>Double-Tap on these kitties to replace them.</p>
</div>


<div class="crop-button"  *ngIf="showImageCropper"  [ngClass]="{
  'crop-button-dark-theme':isDarkTheme,
  'crop-button-light-theme':!isDarkTheme
}">
  <custom-thumbnail-button style="border-radius: 50%;" 
(click)="cropImage()"  
title="Click to Set Cropped Image"
[buttonLogo]="'https://i.ibb.co/drRMrXF/images-1-1.png'"
[isDarkTheme]="isDarkTheme"></custom-thumbnail-button>
</div>
<image-cropper *ngIf="showImageCropper"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="aspectRatio"
  [roundCropper]="false"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>


<div class="input-fields-container"
[ngClass]="{
  'input-fields-dark-theme':isDarkTheme,
  'input-fields-light-theme':!isDarkTheme
}"
>
<div class="note" >
  <p>Edit Details</p>
</div>
<input  (ngModelChange)="adjustHeight()" type="text" name="videoTitle" class="videoTitle" [(ngModel)]="videoTitle" #videoTitleInput><br>
<div style="display: flex;">
<input (ngModelChange)="adjustHeight()" type="text" name="channelName" class="channelName" [(ngModel)]="channelName" #channelNameInput>
<input (ngModelChange)="adjustHeight()" type="number" name="views" class="views" [(ngModel)]="views" #vieswInput>

  <input (ngModelChange)="adjustHeight()" type="number" name="time" class="time" [(ngModel)]="time" #timeInput>
  <select (ngModelChange)="adjustHeight()" name="period" class="period" [(ngModel)]="period">
    <option value="seconds">seconds ago</option>
    <option value="minutes">minutes ago</option>
    <option value="hours">hours ago</option>
    <option value="days">days ago</option>
    <option value="years">years ago</option>
  </select>
</div>
<br>
<input name="hours" type="number" class="hours" [(ngModel)]="hours">
<input name="minutes" type="number" max="59" min="0" class="minutes" [(ngModel)]="minutes" #durationInput>
<input name="seconds" type="number" max="59" min="0" class="seconds" [(ngModel)]="seconds">
</div>

<div class="buttonsDiv" *ngIf="!showImageCropper">


<custom-thumbnail-button
(click)="toggleTheme()"  
[buttonLogo]="!isDarkTheme
? 'https://i.ibb.co/kgJL0rJ/images-q-tbn-ANd9-Gc-Tto6i1-LPYks-QTJ0-Lxyrnk9-AIj-DDAvh-Slajpf-Xfp-SQqc-DCJa-IPhh-OKDY-C01ot39-B96t.png'
: 'https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg'"

[title]="!isDarkTheme
? 'View Dark-Mode Thumbnail'
: 'View Light-Mode Thumbnail'"

[isDarkTheme]="isDarkTheme"></custom-thumbnail-button>


<custom-thumbnail-button  
[title]="'Download Thumbnail'"
(click)="downloadAsImage()"  
[buttonLogo]="'https://i.ibb.co/fHdZzcL/Screenshot-from-2023-05-25-22-37-21.png'"
[isDarkTheme]="isDarkTheme"></custom-thumbnail-button>

</div>

<input class="image-input" type="file" #channelLogo (change)="onFileSelected($event,'logo')" accept="image/*">
<input class="image-input" type="file" #topImage (change)="onFileSelected($event,'top')" accept="image/*">
<input class="image-input" type="file" #bottomtopImage (change)="onFileSelected($event,'bottom')" accept="image/*">


<custom-thumbnail-footer [isDarkTheme]="isDarkTheme"></custom-thumbnail-footer>