<div class="youtube-thumbnail-container"
[ngClass]="{
  'youtube-thumbnail-container-dark-theme':isDarkTheme,
  'youtube-thumbnail-container-light-theme':!isDarkTheme
}">
  <div class="top-image thumbnail-images top-img-div"
  (dblclick)="topImage.click()">
    <img  class="top-image thumbnail-images" [src]="selectedTopImage" alt="top image">
    <div class="duration">{{duration()}}</div>
  </div>
  <div class="youtube-thumbnail-details">
    <div (dblclick)="channelLogo.click()" class="channel-logo">
      <img [src]="selectedChannelLogo" alt="ChannelLogo">
    </div>
    <div class="video-details">
      <div class="video-title">{{ videoTitle.trim() }}</div>
      <div class="video-info">
        <div class="channel-name">
          <span>{{ shortenChannelName(channelName) }}</span>
          <span class="views">{{ readableViews(views) }}</span>
          <span class="time-since">
            {{ (time && time.toString() || 0) + " " + (time === 1 ? period.slice(0, -1) : period) + " ago" }}
          </span>
        </div>
      </div>
    </div>
    <div>
      <span class="menu-icon">&#8942;</span>
    </div>
  </div>
  <div class="bottom-image thumbnail-images" (dblclick)="bottomtopImage.click()">
    <img  class="bottom-image thumbnail-images" [src]="selectedBottomImage" alt="top image">
  </div>
</div>


<div class="input-fields-container"
[ngClass]="{
  'input-fields-dark-theme':isDarkTheme,
  'input-fields-light-theme':!isDarkTheme
}"
>

<input (ngModelChange)="adjustHeight()" type="text" class="videoTitle" [(ngModel)]="videoTitle"><br>
<div style="display: flex;">
<input (ngModelChange)="adjustHeight()" type="text" class="channelName" [(ngModel)]="channelName">
<input (ngModelChange)="adjustHeight()" type="number" class="views" [(ngModel)]="views">

  <input (ngModelChange)="adjustHeight()" type="number" class="time" [(ngModel)]="time">
  <select (ngModelChange)="adjustHeight()" class="period" [(ngModel)]="period">
    <option value="seconds">seconds ago</option>
    <option value="minutes">minutes ago</option>
    <option value="hours">hours ago</option>
    <option value="days">days ago</option>
    <option value="years">years ago</option>
  </select>
</div>
<br>
<input type="number" class="hours" [(ngModel)]="hours">
<input type="number" max="59" min="0" class="minutes" [(ngModel)]="minutes">
<input type="number" max="59" min="0" class="seconds" [(ngModel)]="seconds">
</div>

<button (click)="toggleTheme()">{{isDarkTheme ? 'Light Theme' : 'Dark Theme'}} Thumbnail</button>


<input class="image-input" type="file" #channelLogo (change)="onFileSelected($event,'logo')" accept="image/*">
<input class="image-input" type="file" #topImage (change)="onFileSelected($event,'top')" accept="image/*">
<input class="image-input" type="file" #bottomtopImage (change)="onFileSelected($event,'bottom')" accept="image/*">


<button (click)="downloadAsImage()">Download</button>