/* youtube-thumbnail.component.css */

$thumbnail-width: var(--thumbnail-width);


.youtube-thumbnail-container {
  width: fit-content;
  margin: auto;
  height: calc($thumbnail-width/1.78455);
  .top-img-div{
    position: relative;
    .duration {
      position: absolute;
      font-family: "Roboto", "Arial", sans-serif;
      bottom: calc($thumbnail-width/40);
      right: calc($thumbnail-width/40);
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      padding: calc($thumbnail-width/220) calc($thumbnail-width/110);
      font-size: calc($thumbnail-width/36.66666);
      border-radius: 4px;
    }
  }
  .top-image,
  .bottom-image {
    width: calc($thumbnail-width);
    height: calc($thumbnail-width/5.1);
  }

  .youtube-thumbnail-details {
    display: flex;
    padding: calc($thumbnail-width/33.76923) calc($thumbnail-width/39.90909) calc($thumbnail-width/36.58333) calc($thumbnail-width/24.38888);
    width: calc($thumbnail-width/1.07073);
    height: fit-content;
    .channel-logo img {
      width: calc($thumbnail-width/9.75555);
      height: calc($thumbnail-width/9.75555);
      border-radius: 50%;
    }

    .video-details {
      flex: 1;
      margin-left: calc($thumbnail-width/29.26666);

      .video-title {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: calc($thumbnail-width/25.82352);
        font-weight: 500;
        overflow: hidden;
        margin-bottom: calc($thumbnail-width/87.8);
        max-height: calc($thumbnail-width/6.23579);
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .video-info {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: calc($thumbnail-width/31.35714);
        line-height: calc($thumbnail-width/24.38888);
        font-weight: 400;
        max-height: calc($thumbnail-width/6.85937);
        white-space: normal;

        .channel-name {
          overflow: hidden;
          max-height: calc($thumbnail-width/6.23579);
          text-overflow: ellipsis;
          white-space: normal;

          .views:before,
          .time-since:before {
            content: "\00B7";
            margin: 0 calc($thumbnail-width/73.16666);
          }
        }
      }
    }
    .menu-icon {
      margin-left: auto;
      font-size: calc($thumbnail-width/27.4375);
    }
  }
}

.image-input {
  display: none;
}


.youtube-thumbnail-container-dark-theme{
  background-color: #0f0f0f;
  .youtube-thumbnail-details {
      background-color: #0f0f0f;
      .video-info {
        color: #aaaaaa;
      }
      .video-title,
      .menu-icon {
        color: #f1f1f1;
      }
    }
}
.youtube-thumbnail-container-light-theme{
  background-color: #fff;
  .youtube-thumbnail-details {
      background-color: #fff;
      .video-info {
        color: #606060;
      }
      .video-title,
      .menu-icon {
        color: #0f0f0f;
      }
    }
}