<div class="youtube-thumbnail-container"
[ngClass]="{
  'youtube-thumbnail-container-dark-theme':isDarkTheme,
  'youtube-thumbnail-container-light-theme':!isDarkTheme
}">
  <div class="top-image thumbnail-images top-img-div"
  (dblclick)="topImage.click()">
    <img  class="top-image thumbnail-images" [src]="selectedTopImage" alt="top image">
    <div class="duration">{{duration()}}</div>
  </div>
  <div class="youtube-thumbnail-details">
    <div (dblclick)="channelLogo.click()" class="channel-logo">
      <img [src]="selectedChannelLogo" alt="ChannelLogo">
    </div>
    <div class="video-details">
      <div class="video-title">{{ videoTitle.trim() }}</div>
      <div class="video-info">
        <div class="channel-name">
          <span>{{ shortenChannelName(channelName) }}</span>
          <span class="views">{{ readableViews(views) }}</span>
          <span class="time-since">
            {{ (time && time.toString() || 0) + " " + (time === 1 ? period.slice(0, -1) : period) + " ago" }}
          </span>
        </div>
      </div>
    </div>
    <div>
      <span class="menu-icon">&#8942;</span>
    </div>
  </div>
  <div class="bottom-image thumbnail-images" (dblclick)="bottomtopImage.click()">
    <img  class="bottom-image thumbnail-images" [src]="selectedBottomImage" alt="top image">
  </div>
</div>




<input type="number" [(ngModel)]="hours">
<input type="number" max="59" min="0" [(ngModel)]="minutes">
<input type="number" max="59" min="0" [(ngModel)]="seconds">



<input (ngModelChange)="adjustHeight()" type="text" [(ngModel)]="videoTitle"><br>
<input (ngModelChange)="adjustHeight()" type="text" [(ngModel)]="channelName">
<div>
  <input (ngModelChange)="adjustHeight()" type="number"  [(ngModel)]="time">
  <select (ngModelChange)="adjustHeight()" [(ngModel)]="period">
    <option value="seconds">Seconds</option>
    <option value="minutes">Minutes</option>
    <option value="hours">Hours</option>
    <option value="days">Days</option>
    <option value="years">Years</option>
  </select>
</div>

<input (ngModelChange)="adjustHeight()" type="number" [(ngModel)]="views">

<button (click)="isDarkTheme=!isDarkTheme">{{isDarkTheme ? 'Light Theme' : 'Dark Theme'}}</button>


<input class="image-input" type="file" #channelLogo (change)="onFileSelected($event,'logo')" accept="image/*">
<input class="image-input" type="file" #topImage (change)="onFileSelected($event,'top')" accept="image/*">
<input class="image-input" type="file" #bottomtopImage (change)="onFileSelected($event,'bottom')" accept="image/*">


<button (click)="downloadAsImage()">Download</button>