/* youtube-thumbnail.component.css */

$thumbnail-width: var(--thumbnail-width);


.youtube-thumbnail-container {
  width: fit-content;
  margin: auto;
  //height: calc($thumbnail-width/1.78455);
  .top-img-div{
    position: relative;
    .duration {
      position: absolute;
      font-family: "Roboto", "Arial", sans-serif;
      bottom: calc($thumbnail-width/40);
      right: calc($thumbnail-width/40);
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      padding: calc($thumbnail-width/220) calc($thumbnail-width/110);
      border-radius: calc($thumbnail-width/100);
    }
  }
  .top-image {
    width: calc($thumbnail-width);
    height: calc($thumbnail-width/5.1);
    .duration {
      font-size: calc($thumbnail-width/25.82352);
      font-weight: 450;
      margin-bottom: calc($thumbnail-width/87.8);
      max-height: calc($thumbnail-width/6.23579);
    }
  }

  .youtube-thumbnail-details {
    display: flex;
    padding: calc($thumbnail-width/33.76923) calc($thumbnail-width/39.90909) 
    calc($thumbnail-width/36.58333) calc($thumbnail-width/32.38888);
    width: calc($thumbnail-width/1.07073);
    height: fit-content;
    .channel-logo img {
      width: calc($thumbnail-width/9.75555);
      height: calc($thumbnail-width/9.75555);
      border-radius: 50%;
    }

    .video-details {
      flex: 1;
      margin-left: calc($thumbnail-width/29.26666);

     .video-title {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: calc($thumbnail-width/25.82352);
        font-weight: 500;
        overflow: hidden;
        margin-bottom: calc($thumbnail-width/87.8);
        max-height: calc($thumbnail-width/6.23579);
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .video-info {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: calc($thumbnail-width/31.35714);
        line-height: calc($thumbnail-width/24.38888);
        font-weight: 400;
        max-height: calc($thumbnail-width/6.85937);
        white-space: normal;

        .channel-name-views-period {
          overflow: hidden;
          max-height: calc($thumbnail-width/6.23579);
          text-overflow: ellipsis;
          white-space: normal;

          .views:before,
          .time-since:before {
            content: "\00B7";
            margin: 0 calc($thumbnail-width/73.16666);
          }
        }
      }
    }
    .menu-icon {
      margin-left: auto;
      font-size: calc($thumbnail-width/25.82352);
      font-weight: 700;
    }
  }
}

.image-input {
  display: none;
}


.youtube-thumbnail-container-dark-theme{
  .thumbnail-images{
    background-color: #0f0f0f;
  }
  background-color: #0f0f0f;
  .youtube-thumbnail-details {
      background-color: #0f0f0f;
      .video-info {
        color: #aaaaaa;
      }
      .duration,.video-title,
      .menu-icon {
        color: #f1f1f1;
      }
    }
}
.youtube-thumbnail-container-light-theme{
  .thumbnail-images{
    background-color: #fff;
  }
  background-color: #fff;
  .youtube-thumbnail-details {
      background-color: #fff;
      .video-info {
        color: #606060;
      }
      .duration,.video-title,
      .menu-icon {
        color: #0f0f0f;
      }
    }
}

.videoTitle{
  width: calc($thumbnail-width/1.1);
  font-size: calc($thumbnail-width/25.82352);
  margin-bottom: 7px;
}
.channelName{
  width: calc($thumbnail-width/3.05);
  font-size: calc($thumbnail-width/31.35714);
}
.views{
  width: calc($thumbnail-width/4);
    font-size: calc($thumbnail-width/31.35714);
}
.time{
  width: calc($thumbnail-width/7);
    font-size: calc($thumbnail-width/31.35714);
}
.period{
  width: calc($thumbnail-width/5);
    font-size: calc($thumbnail-width/31.35714);
}

.input-fields-dark-theme {
  background-color: #0f0f0f;
  box-shadow: 0px -25px 20px -20px rgba(246,255,252,0.45),
0px 25px 20px -20px rgba(246,255,252,0.45);
    .period,
    input,p{
      background-color: #0f0f0f;
      color: #aaaaaa;
    }
    .videoTitle {
      background-color: #0f0f0f;
      color: #f1f1f1;
    }
}
.input-fields-light-theme {
  background-color: #fff;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45);
  .period,
  input,p{
    background-color: #fff;
    color: #606060;;
  }
  .videoTitle {
    background-color: #fff;
    color: #0f0f0f;
  }
}
.hours,.minutes,.seconds{
  width: calc($thumbnail-width/3.3);
  font-size: calc($thumbnail-width/31.35714);
}

.input-fields-container{
  width:calc($thumbnail-width);
  margin: 100px auto 50px auto;
}

.period,
input{
  border: 0;
 border-left: 2px solid red;
}

.buttonsDiv{
 margin: auto;
 display: flex;
 justify-content: space-around;
 width: calc($thumbnail-width/1);
margin-bottom: 60px;
}


.bottom-image {
  width: $thumbnail-width;
  height: calc($thumbnail-width/5.1);
}

image-cropper,.note{
  width: 95%;
  margin: auto;
}

.crop-button{
  margin: auto;
  width: calc($thumbnail-width/1.1);
  display: flex;
  justify-content: flex-end;
}

.note{
  text-align: center;
  p{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: calc($thumbnail-width/33.35714);
    line-height: calc($thumbnail-width/24.38888);
    font-weight: 400;
    max-height: calc($thumbnail-width/6.85937);
    white-space: normal;
  }
}

.note-dark-theme{
  color: #aaaaaa;
}
.note-light-theme{
  color: #606060;
}

.crop-button-dark-theme{
  custom-thumbnail-button{border:7px solid #fff;}
}
.crop-button-light-theme{
  custom-thumbnail-button{border:7px solid #0f0f0f;}
}