$thumbnail-width: var(--thumbnail-width);
.theme-container {
    width: calc($thumbnail-width/9.75555);
    height: calc($thumbnail-width/9.75555);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.theme-container img{
    width: calc($thumbnail-width/20);
    height: calc($thumbnail-width/20);
    border-radius: 50%;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff, inset 7px 7px 3px rgba(209, 217, 230, 0.35), inset -11px -11px 3px rgba(255, 255, 255, 0.3);
    img{
        filter: invert(1);
    }
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}